.field{
    position: relative;
    padding: 5px;
    margin: auto;
    background-color: #c3f7e9;
}

.tile{
    width: 32px;
    height: 32px;
    position: absolute;
    background-color: #ffabaa;
    border-radius: 1px;
}

.tile.opened{
    background-color: #a9e5d5;
}
